[submodule "src/app/code/community/Paymentwall/Paymentwall/Model/includes/paymentwall-php"]
	path = src/app/code/community/Paymentwall/Paymentwall/Model/includes/paymentwall-php
	url = https://github.com/paymentwall/paymentwall-php.git
