<?xml version="1.0" ?>
<config>
    <modules>
        <Paymentwall_Pwpayment>
            <version>1.0.2</version>
        </Paymentwall_Pwpayment>
    </modules>
    <frontend>
        <routers>
            <pwpayment>
                <use>standard</use>
                <args>
                    <module>Paymentwall_Pwpayment</module>
                    <frontName>paymentwall</frontName>
                </args>
            </pwpayment>
        </routers>
        <layout>
            <updates>
                <pwpayment>
                    <file>paymentwall_pwpayment.xml</file>
                </pwpayment>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <pwpayment>
                <class>Paymentwall_Pwpayment_Model</class>
            </pwpayment>
        </models>
        <blocks>
            <pwpayment>
                <class>Paymentwall_Pwpayment_Block</class>
            </pwpayment>
        </blocks>
        <helpers>
            <pwpayment>
                <class>Paymentwall_Pwpayment_Helper</class>
            </pwpayment>
        </helpers>
        <events>
            <core_copy_fieldset_sales_convert_quote_payment_to_order_payment>
                <observers>
                    <paymentwall_pwpro>
                        <class>Paymentwall_Pwpayment_Model_Observer</class>
                        <method>addMoreDataToOrderPayment</method>
                    </paymentwall_pwpro>
                </observers>
            </core_copy_fieldset_sales_convert_quote_payment_to_order_payment>
        </events>
    </global>
    <default>
        <payment>
            <paymentwall_pwpro>
                <model>pwpayment/method_pwpro</model>
                <active>1</active>
                <order_status>pending</order_status>
                <payment_action>authorize_capture</payment_action>
                <allowspecific>0</allowspecific>
            </paymentwall_pwpro>
        </payment>
    </default>
</config>