<?xml version="1.0"?>
<config>
    <modules>
        <Paymentwall_Paymentwall>
            <version>1.0.0.0</version>
        </Paymentwall_Paymentwall>
    </modules>
    <global>
        <models>
            <paymentwall>
                <class>Paymentwall_Paymentwall_Model</class>
            </paymentwall>
        </models>
        <blocks>
            <paymentwall>
                <class>Paymentwall_Paymentwall_Block</class>
            </paymentwall>
        </blocks>
        <helpers>
            <paymentwall>
                <class>Paymentwall_Paymentwall_Helper</class>
            </paymentwall>
        </helpers>
    </global>
    <default>
        <payment>
            <paymentwall>
                <active>1</active>
                <model>paymentwall/payment</model>
                <order_status>pending_payment</order_status>
                <title>Paymentwall</title>
                <fee_payer>buyer</fee_payer>
                <allowspecific>0</allowspecific>
            </paymentwall>
        </payment>
    </default>
    <frontend>
        <routers>
            <paymentwall>
                <use>standard</use>
                <args>
                    <module>Paymentwall_Paymentwall</module>
                    <frontName>paymentwall</frontName>
                </args>
            </paymentwall>
        </routers>
    </frontend>
</config>
