<?xml version="1.0"?>
<config>
    <modules>
        <Paymentwall_Paymentwall>
            <version>1.3.0</version>
        </Paymentwall_Paymentwall>
    </modules>
    <frontend>
        <routers>
            <paymentwall>
                <use>standard</use>
                <args>
                    <module>Paymentwall_Paymentwall</module>
                    <frontName>paymentwall</frontName>
                </args>
            </paymentwall>
        </routers>
        <layout>
            <updates>
                <paymentwall>
                    <file>paymentwall.xml</file>
                </paymentwall>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <paymentwall>
                <class>Paymentwall_Paymentwall_Model</class>
            </paymentwall>
        </models>
        <blocks>
            <paymentwall>
                <class>Paymentwall_Paymentwall_Block</class>
            </paymentwall>
        </blocks>
        <helpers>
            <paymentwall>
                <class>Paymentwall_Paymentwall_Helper</class>
            </paymentwall>
        </helpers>
    </global>
    <default>
        <payment>
            <paymentwall_pwlocal>
                <title>Paymentwall</title>
                <active>1</active>
                <model>paymentwall/method_pwlocal</model>
                <order_status>pending_payment</order_status>
                <fee_payer>buyer</fee_payer>
                <allowspecific>0</allowspecific>
                <paymentwall_istest>0</paymentwall_istest>
                <paymentwall_delivery>1</paymentwall_delivery>
                <debug_mode>0</debug_mode>
            </paymentwall_pwlocal>
            <paymentwall_pwbrick>
                <title>Credit Card</title>
                <model>paymentwall/method_pwbrick</model>
                <active>1</active>
                <order_status>pending_payment</order_status>
                <payment_action>authorize_capture</payment_action>
                <allowspecific>0</allowspecific>
                <debug_mode>0</debug_mode>
            </paymentwall_pwbrick>
        </payment>
    </default>
</config>
